{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}


{% block nav_list %}
<li class="nav-item">
    <a class="nav-link" href="/blog/post"><span class="text-bg-dark">Back</span></a>
</li>
{% endblock %}



{% block content %}

    <h1>Edit Post</h1>

    <form method="POST" class="form-group"  enctype="multipart/form-data">
        <label for="email">Title of Post</label>
        <input type="text" id="title" name="title" class="form-control" placeholder={{ post.title }}>
        <label for="desc">Description</label>
        <input type="desc" id="desc" name="desc" class="form-control" placeholder={{ post.caption }}>
        <br/>
        <label class="form-label" for="pic">Select Image to Upload</label>
        <input type="file" class="form-control" id="imgfile" name="pic"/>
        <div class="submit_button mt-3" align = "center">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>

{% endblock %}



